.main-page-9 {
    .notice-content {
        position: absolute;
        right: 0;
        top: 0;
        width: 300px;
        .btn-click {
            position: absolute;
            top: 111px;
            z-index: 20;
            right: 51px;
            color: $color-gray-10;
            &.active {
                color: #fff;
                .fa:before {
                    content: "";
                    background: url("../images/page9/next.png") no-repeat;
                    background-size: 100%;
                }
            }
            .fa:before {
                content: "";
                background: url("../images/page9/next-white.png") no-repeat;
                background-size: 100%;
                font-size: 40px;
                width: 30px;
                height: 32px;
                display: inline-block;
                cursor: pointer;
            }
        }
    }
    .note-side-right {
        overflow: hidden;
        background: #2d2d2d;
        z-index: 10;
        height: 100vh;
        color: #fff;
        padding: 151px 20px 50px 60px;
        font-size: 14px;
        display: none;
        float: right;
        width: 435px;
        .btn-click {
            position: absolute;
            right: 30px;
            .fa {
                font-size: 22px;
            }
        }
        .block-notice {
            border-bottom: 1px solid #dddddd5e;
            padding-top: 35px;
            padding-bottom: 35px;
            .icon{
                width: 18px;
                height: 18px;
                display: inline-block;
                margin-right: 10px;
            }
            &:last-child {
                border-bottom: 0;
            }
        }
        p {
            margin-bottom: 0;
            .fa {
                margin-right: 10px;
            }
        }
    }
}