.pd-top{
  //padding-top:66px;
}
.text-center{
  text-align: center;
}
.text-red{
  color: #d12e3a;
}
.text-yellow{
  color: $color-gray-10;
}
.text-gray {
  color: $color-gray-3
}
body a {
  color: $color-black;
}
.pt-28{
  font-size: 20px;
}
.pt-36 {
  font-size: 25px;
}
.pt-90 {
  font-size: 45px;
}
.pt-180 {
  font-size: 100px;
}
.light {
  font-weight: 300;
}
.medium {
  font-weight: 500;
}
.page-title{
  font-size: 45px;
  font-weight: 500;
  margin: 62px 0 66px;
}

.page-desc{
  .text-big{
    font-size: 22px;
    margin-bottom: 10px;
  }
  .text-small{
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 300;
  }
}
.page-account{
  background-color: #f2f2f2;
}
.table{
  width: 100%;
}
a{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}
body .alink{
  cursor: pointer;
  color: $color-gray-10;
  border-bottom: 1px solid $color-gray-10;
  &:hover{
    border-bottom-color: transparent;
  }
}
.wrapper,
.calender-bottom,
.footer-top.inner,
.footer-bottom.inner,
.our-brands .inner{
  width: 100%;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 926px;
  padding-left: 11px;
  padding-right: 11px;
}
.main-page{
  width: 100%;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 980px;
  padding-left: 11px;
  padding-right: 11px;
}
.main-page-faq{
  max-width: 930px;
}
.main-page-account{
  max-width: 926px;
}

@mixin display-flex() {
  display: flex;
  display: -webkit-flex;
}
@mixin display-flex-align-text-center() {
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
}
@mixin display-flex-align-center() {
  align-items: center;
  -webkit-align-items: center;
}
@mixin display-flex-center() {
  justify-content: center;
  -webkit-justify-content: center;
}
@mixin display-flex-between() {
  justify-content: space-between;
  -webkit-justify-content: space-between;
}